<div>
<h1>Журнал</h1>

</div>
<%= link_to 'Добавить', new_offer_path, class:'btn btn-primary' %>
<h3>Общая выручка: <%=@all_price%> тыс. руб</h3>
<table class="table">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Услуга</th>
      <th>Стоимость</th>
      <th>Телефон</th>
      <th>Дата</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= link_to offer.name, offer %></td>
        <td><%= offer.offer %></td>
        <td><%= offer.price %> тыс.руб</td>
        <td> <%=offer.phone%></td>
        <td><%= l(offer.date, format: :long)%> </td>
        <td><%= link_to 'Изменить', edit_offer_path(offer), class:'btn btn-default'%></td>
        <td><%= link_to 'Удалить', offer, class:'btn btn-danger',method: :delete%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
