<p id="notice"><%= notice %></p>
<p>
  <strong>ФИО:</strong>
  <%= @offer.name %>
</p>

<p>
  <strong>Услуга:</strong>
  <%= @offer.offer %>
</p>

<p>
  <strong>Стоимость:</strong>
  <%= @offer.price %>тыс.руб
</p>

<%= link_to 'Изменить', edit_offer_path(@offer),class:'btn btn-primary' %>
<%= link_to 'Назад', offers_path,class:'btn btn-primary' %>
